/* ============
_mixins.scss
Site mixins
============ */
// Medium Media Query
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

// Large Media Query
@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

// Default mixin for background cover
@mixin coverBG() {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Default letter spacing
@mixin letterSpacing(){
  letter-spacing: 0.125rem;
}

// Default transition for CSS
@mixin transitions($prop: all, $speed: 0.25s){
  transition: $prop $speed cubic-bezier(0, 0, 0.5, 1);
}
