/* ============
_variables.scss
Import all modules here
============ */
// Breakpoints
$small: 20rem; // 320px
$medium: 40rem; // 640px
$large: 75rem; // 1200px

// Grid
$maxWidth: $large; // 1200px

// Color
$white: white;
$black: #222222;
$red: #EB0029;
