.footer{
	padding: $space/2 0;
	@include media($medium){
		padding: 0;
	}
	@include outer-container;
	.list{
		flex-wrap: wrap;

		text-align: center;
		@include media($medium){
			height: $space * 1.75;	
		}		
	}
	.navItem{
		flex: 1 0 50%;
		padding: $space/4 0;
		@include media($medium){
			flex: none;
			padding-right: $space;
		}
	}
}