body{
	min-width: 20rem;
}

a{
	color: $black;

	text-decoration: none;
	cursor: pointer;

	@include tran;
	&:hover{
		color: $red;
	}
}

.button{
	display: block;
	width: 100%;
	margin: $space auto;
	padding: $space/2 $space;
	border: none;

	background: $black;
	color: $white;

	font-size: 0.875rem;

	text-align: center;
	cursor: pointer;
	@include fontUi;
	@include tran;
	&:hover{
		background: $red;
		color: $white;
	}
	@include media($medium){
		width: 50%;
	}
	@include media($large){
		width: 100%;
	}
}

.list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.logo{
	cursor: pointer;
	&:hover{
		.whiteStrokes{
			fill: red;
		}
	}
	.whiteStrokes{
		@include tran;
	}
	.whiteStrokes{
		fill: white;
	}
	.blackStrokes{
		fill: $black;
	}
	.fills{
		fill: url(#gradient);
	}
}

.nav{
	font-size: 0.875rem;

	@include outer-container;
	@include fontUi;
	.list{
		display: flex;
		@include media($medium){
			align-items: center;

			padding: 0 $space/2;
		}
		@include media($large){
			padding: 0;
		}
	}
	.navItem{
		@include media($medium){
			padding-right: $space;
		}
		a{
			&:hover{
				color: $red;
			}
		}
	}
}