#grid{
	@include outer-container;
	flex-direction: column;
	.tile{
		align-items: stretch;
		flex: 1 1 auto;
		@include tran;
		@include media($medium){
			display: flex;
		}
		.bg{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 20rem;
			width: 100%;

			background: rgba($black, 0.5);

			cursor: pointer;
			@include tran;
			@include media($medium){
				height: auto;

				opacity: 0;				

				background: $white;
			}
			.title{
				color: $white;

				font-family: 'Spartan', 'Montserrat';
				font-size: 2rem;
				line-height: 1;
				text-align: center;
				@include media($medium){
					color: $black;
				}
				.subtitle{
					font-size: 1rem;
				}
			}
		}
		&.vertical{
			flex-direction: column;
		}
	}
	.barry{  background: url(img/barry.jpg) no-repeat center center; }
	.harley{  background: url(img/harley.png) no-repeat center center; }
	.kaleb{ background: url(img/kaleb.png) no-repeat center center; }
	.krukar{ background: url(img/krukar.png) no-repeat center center; }
	.liquid{ background: url(img/liquid.jpg) no-repeat center top; }
	.makeful{  background: url(img/makeful.jpg) no-repeat center center; }
	.media{ background: url(img/media.png) no-repeat center top; }
	.meundies{ background: url(img/meundies.jpg) no-repeat center center; }	
	.netflix{ background: url(img/netflix.png) no-repeat center top; }	
	.radio{ background: url(img/radio.png) no-repeat center center; }	
	.schedulizer{ background: url(img/schedulizer.png) no-repeat center top; }
	.trace{ background: url(img/trace.png) no-repeat center top; }
	.uber{ background: url(img/uber.png) no-repeat center top; }
	.wd40{ background: url(img/wd40.png) no-repeat center center; }
	.web, .art, .video, .photo{ 
		background-size: cover;
		&:hover{
			.bg{
				opacity: 1;
			}
		}
		@include media($medium){
			min-height: 10rem;
			min-width: 10rem;
			&:hover{
				min-height: 20rem;
				min-width: 20rem;
			}
		}
	}
}

@include media($medium){
	.showWeb, .showArt, .showPhoto, .showVideo{
		#grid{
			.tile{
				display: block;
			}
			.web, .art, .video, .photo, .bg{
				min-height: 15rem;
				&:hover{
					min-height: 15rem;
				}
			}
		}
	}
	.showWeb #grid{
		.art, .photo, .video{
			display: none;
		}
		.makeful{
			background-position: center top;
		}
	}
	.showArt #grid{
		.web, .photo, .video{
			display: none;
		}
	}
	.showPhoto #grid{
		.web, .art, .video{
			display: none;
		}
	}
	.showVideo #grid{
		.web, .art, .photo{
			display: none;
		}
		.liquid{
			background-position: center bottom;
		}
	}
}