.grid{
	@include outer-container;
	margin-bottom: $space;
	.tile{
		@include tran;
		@include media($medium){
			display: flex;
			align-items: stretch;
			flex: 1 1 auto;
		}
		.bg{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 20rem;
			width: 100%;

			background: rgba($black, 0.5);

			cursor: pointer;
			@include tran;
			@include media($medium){
				height: auto;

				opacity: 0;				

				background: $white;
			}
			.title{
				color: $white;

				font-family: 'Spartan', 'Montserrat';
				font-size: 2rem;
				line-height: 1;
				text-align: center;
				@include media($medium){
					color: $black;
				}
				.subtitle{
					font-size: 1rem;
				}
			}
		}
		&.vertical{
			flex-direction: column;
		}
	}
	.barry{ background-image: url(img/barry.jpg); }
	.harley{ background-image: url(img/harley.png); }
	.kaleb{ background-image: url(img/kaleb.png); }
	.krukar{ background-image: url(img/krukar.png); }
	.liquid{ background-image: url(img/liquid.jpg); }
	.makeful{ background-image: url(img/makeful.jpg); }
	.media{ background-image: url(img/media.png); }
	.meundies{ background-image: url(img/meundies.jpg);}	
	.netflix{ background-image: url(img/netflix.png);}	
	.radio{ background-image: url(img/radio.png);}	
	.schedulizer{ background-image: url(img/schedulizer.png); }
	.trace{ background-image: url(img/trace.png); }
	.tide{ background-image: url(img/tide.jpg); }
	.wd40{ background-image: url(img/wd40.png); }
		.barry, .harley, .kaleb, .krukar, .makeful, .meundies, .radio, .wd40{
		background-position: center center;
	}
	.liquid, .media, .netflix, .schedulizer, .trace, .tide{
		background-position: center top;
	}
	.barry, .harley, .kaleb, .krukar, .liquid, .makeful, .media, .meundies, .netflix, .radio, .schedulizer, .trace, .tide, .wd40{ 
		background-repeat: no-repeat;
		background-size: cover;
		&:hover{
			.bg{
				opacity: 1;
			}
		}
		@include media($medium){
			min-height: 10rem;
			min-width: 10rem;
			&:hover{
				min-height: 20rem;
				min-width: 20rem;
			}
		}
	}
}