.header{
	position: fixed;
	width: 100%;
	padding: 0 1.5rem;

	background: $black;
	transform: translateY(-82%);
	&.open{
		transform: translateY(0);
	}
	@include tran;
	@include media($large){
		position: relative;
		transform: translateY(0);
	}
	.logo{
		height: 3rem;
	}
}

.nav{
	@include fontUi;
	font-size: 0.875rem;
	.list{
		padding-top: $space;
		@include media($large){
			display: flex;
			height: 3.5rem;
			align-items: center;
		}
	}
	.navItem{
		padding-bottom: $space;
		@include media($large){
			padding-right: $space;
		}
		a{
			color: $white;
			&:hover{
				color: $red;
			}
		}
	}
}