.header{
	background: $black;	
	.title{
		display: flex;
		align-items: center;
		justify-content: center;
		height: $space * 1.75;
		margin: 0;

		color: $white;

		@include fontUi;
		font-size: 0.875rem;
		@include media($medium){
			display: none;
		}
	}
	.nav{
		display: none;
		@include tran;
		@include media($medium){
			display: block;
		}
		.list{
			height: $space * 1.75;
		}
		.navItem{
			a{
				color: $white;
				&:hover{
					color: $red;
				}
			}
		}
	}
}