.main{
	max-height: 0;
	overflow: hidden;
	@include tran;
	&.open{
		max-height: 40rem;
	}
	@include outer-container;
	@include media($large){
		.images{
			margin-bottom: 0;
			@include span-columns(8);
		}
		.info{
			@include span-columns(4);
		}
	}
	.images{
		text-align: center;
		.image{
			max-width: 80%;
		}
	}
	.info{
		.key{
			font-weight: bold;

			text-transform: uppercase;
		}
	}
}