.main{
	@include outer-container;
	margin-top: $space;
	margin-bottom: $space;
	&.show{
		display: block;
	}
	@include media($medium){
		margin-top: $space * 2;
		margin-bottom: $space * 2;
		.images{
			@include span-columns(8);
		}
		.info{
			@include span-columns(4);
		}
	}
	.images{
		.image{
			width: 100%;
			margin: 0 auto;
		}
	}
	.info{
		padding: $space $space 0;

		text-align: center;
		@include media($medium){
			padding: 0 $space;
		}
		p{
			text-align: justify;
		}
		.list{
			margin-bottom: $space;

			text-align: justify;
		}
		.key{
			font-weight: bold;

			text-transform: uppercase;
		}
	}
}