.mountains {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;

    opacity: 0;

    @include transition(opacity, $animation-speed-slow);

    &--loaded {
        opacity: 1;
    }
}
