.section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;

    z-index: 10;

    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;

        opacity: 0;

        animation: fade-out 5s $cubic-bezier;

        @include transition(all, $animation-speed-slow);

        &:focus-within,
        &:hover {
            opacity: 1;
        }
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
