$white: white;
$black: #222222;
$red: #EB0029;
$yellow: #F6EB0D;
$blue: #426FB6;

$medium: 55rem; //880 
$large: 75rem; //1280

$space: 2rem;

@mixin tran($speed: 0.5s){
	transition: all $speed cubic-bezier(0, 0, 0.5, 1);
}

@mixin fontUi{
	font-family: 'Montserrat';
	font-weight: bold;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}