/* ============
Body
============ */

body {
  background: $black;

  font-family: $body-font-family;
  font-size: rem($default-font-size);
}

/* ============
Paragraphs and Anchors
============ */

a {
  margin-bottom: rem(8);

  color: $white;

  text-decoration: none;

  font-family: $header-font-family;
  font-size: rem(16);

  letter-spacing: rem(1);

  opacity: 0.5;

  @include transition;

  @include small {
    font-size: rem($default-font-size * 2); // 32
  }
}

a:focus,
a:hover {
  opacity: 1;
}

a:focus {
  outline: solid thin $brand;
}

.red {
  color: $brand;
}

::selection {
  background-color: $black;
  color: $brand;
}
