/* ============
Headings
============ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 rem(16);

  color: $black;

  font-family: $header-font-family;
  line-height: 1;
}

h1 {
  font-size: rem($default-font-size * 1); // 16

  letter-spacing: 0.25em;

  white-space: nowrap;

  @include small {
    font-size: rem($default-font-size * 2); // 32
  }

  @include medium {
    font-size: rem($default-font-size * 4); // 64
  }

  @include large {
    font-size: rem($default-font-size * 6); // 96
  }
}
