@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@font-face {
  font-family: 'br';
  src: url("../fonts/br-medium-webfont.eot");
  src: url("../fonts/br-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/br-medium-webfont.woff") format("woff"), url("../fonts/br-medium-webfont.ttf") format("truetype"), url("../fonts/br-medium-webfont.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 50, ../sass/style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  background: black;
}

/* line 62, ../sass/style.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
}

/* line 69, ../sass/style.scss */
a {
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: white;
  text-decoration: none;
}

/* line 75, ../sass/style.scss */
a:hover {
  color: red;
}

/* line 79, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "br", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

/* line 85, ../sass/style.scss */
h1 {
  font-size: 7em;
}

/* line 86, ../sass/style.scss */
h2 {
  font-size: 5.5em;
}

/* line 87, ../sass/style.scss */
h3 {
  font-size: 2em;
}

/* line 88, ../sass/style.scss */
h4 {
  font-size: 1em;
}

/* line 90, ../sass/style.scss */
p {
  line-height: 1.5;
  text-align: justify;
}

/* line 96, ../sass/style.scss */
.page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 106, ../sass/style.scss */
.copy {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 110, ../sass/style.scss */
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

/* line 119, ../sass/style.scss */
.button {
  display: block;
  cursor: pointer;
}

/* line 124, ../sass/style.scss */
#social-list {
  margin: 2em 0;
}

/* line 128, ../sass/style.scss */
#social-list li {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  display: inline;
  opacity: 0.5;
  padding: 1em;
}

/* line 135, ../sass/style.scss */
#social-list li:hover {
  opacity: 1;
}

/* line 139, ../sass/style.scss */
#demo-reel {
  background: url(../img/demo-reel.jpg) no-repeat center center fixed;
}

/* line 143, ../sass/style.scss */
#liquid-rising {
  background: url(../img/liquid-rising.jpg) no-repeat center center fixed;
}

/* line 147, ../sass/style.scss */
#adventure-time-krukar {
  background: url(../img/adventure-time-krukar.jpg) no-repeat center center fixed;
}

/* line 151, ../sass/style.scss */
#wd40 {
  background: url(../img/wd40.jpg) no-repeat center center fixed;
}

/* line 155, ../sass/style.scss */
#slim-twig {
  background: url(../img/slim-twig.jpg) no-repeat center center fixed;
}

/* line 159, ../sass/style.scss */
#july-talk {
  background: url(../img/july-talk.jpg) no-repeat center center fixed;
}

/* line 163, ../sass/style.scss */
#dota-1000 {
  background: url(../img/dota-1000.jpg) no-repeat center center fixed;
}

/* line 168, ../sass/style.scss */
::selection {
  background: red;
  /* Safari */
}

/* line 171, ../sass/style.scss */
::-moz-selection {
  background: red;
  /* Firefox */
}
