/* ============
_grid.scss
Grid view
============ */
.grid{
  max-width: $maxWidth;
  margin: 0 auto;

  -webkit-filter: url("#blurGrid");
  filter: url("#blurGrid");
  .container{
    @include medium{
      display: flex;
      flex: 1 0 auto;
    }
    &.column{
      flex-direction: column;
    }
    &:empty{
      display: none;
    }
  }
}
