.item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  min-height: 10rem;
  min-width: 10rem;
  overflow: hidden;

  background: $white;

  font-family: 'Spartan';

  @include transitions;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  &:hover{
    .bg{
      transform: scale(1.25);
      opacity: 0;
    }
  }
  .link{
    color: $black;

    text-align: center;
  }
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    @include coverBG;

    @include transitions;
  }
  h1{
    font-size: 2rem;
    @include medium{
      font-size: 1.5rem;
    }
    @include large{
      font-size: 2rem;
    }
  }
}
