/* ============
_nav.scss
Primary navigation
============ */
.nav{
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  z-index: 20;

  background: $black;
  color: $white;

  font-family: 'Montserrat';
  font-size: 0.875rem;
  font-weight: bold;
  @include letterSpacing;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  @include medium{
    flex-flow: row;
    height: 3rem;
  }
  @include large{
    justify-content: center;
  }
  .name, a{
    margin-bottom: 2rem;

    -webkit-filter: url("#blurNav");
    filter: url("#blurNav");
    @include medium{
      margin-right: 2rem;
      margin-bottom: 0;
    }
    @include large{
      margin: 0;
      padding: 0 1rem;
    }
  }
  a{
    color: $white;

    @include transitions(color, 0.25s);
    &:hover{
      color: $red;
    }
    &.menu{
      margin: 0;
      @include medium{
        display: none;
      }
    }
    .fa{
      display: none;
      @include medium{
        display: block;
      }
      @include large{
        display: none;
      }
    }
    .text{
      @include medium{
        display: none;
      }
      @include large{
        display: block;
      }
    }
  }
}
