$breakpoint-small: 540px;
$breakpoint-medium: 920px;
$breakpoint-large: 1400px;
$breakpoint-xlarge: 2560px;

:export {
  small: $breakpoint-small;
  medium: $breakpoint-medium;
  large: $breakpoint-large;
  xlarge: $breakpoint-xlarge;
}
