$breakpoint-small: 820px;
$breakpoint-medium: 1200px;
$breakpoint-large: 1920px;
$breakpoint-xlarge: 2560px;

:export {
  small: $breakpoint-small;
  medium: $breakpoint-medium;
  large: $breakpoint-large;
  xlarge: $breakpoint-xlarge;
}